{% load static %}
<!DOCTYPE html>
<html>
<head lang="ko">
    <!--==================== META ====================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="subject" content="밴픽도우미">
    <meta name="title" content="밴픽도우미">
    <meta name="author" content="크리스존">
    <meta name="description" content="밴픽도우미 : 가상밴픽 프로그램">
    <meta name="keywords" content="밴픽, 롤, 리그오브레전드, 리그 오브 레전드, 밴픽도우미, LCK, 롤드컵, 롤챔스, MCK, LPL, HCK">
    <meta name="copyright" content="크리스존">
    <meta property="og:type" content="website">
    <meta property="og:title" content="밴픽도우미">
    <meta property="og:description" content="밴픽도우미 : 가상밴픽 프로그램">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title>밴픽도우미</title>
</head>
<body>
    <div id="main_center">Ban & Pick</div>
</body>
</html>
