{% extends "head.html" %}
{% load static %}
{% block title %}밴픽도우미{% endblock title %}
{% block body %}
<body>
    <div id="home_wrap" class="flex">
        {% include "logo.html" %}
        <div id="content_wrap">
        <form method="POST" action="" autocomplete="off">
            {% csrf_token %}
            <div id="mode">
                <p>모드</p>
                <input name="mode" type="radio" id="mode_1" value="1" checked><label for="mode_1">싱글플레이</label>
                <input name="mode" type="radio" id="mode_2" value="2"><label for="mode_2">멀티플레이</label>
            </div>
            {% for field in forms %}
            <div id="{{field.name}}" class="field_wrap{% if field.errors %} error_label{% endif %}">
                <label for="id_{{field.name}}">
                    {{ field.label }}
                </label>
                {% if field.errors %}<span class="error">{{ field.errors.0 }}</span>{% endif %}
                {% if field.help_text %}{{ field.help_text|safe }}{% endif %}
                {% if field.check %}<div>asd</div>{% endif %}
                {{ field }}
            </div>
            {% endfor %}
            <div class="t_center">
                <input id="draft_submit" class="bold" type="submit" value="시작하기" disabled>
            </div>
        </form>
        </div>
    </div>
    <script type="text/javascript">
    // 시작버튼 activate/deactivate //
    function submitable(){
        const inputs = document.getElementsByClassName('draft_input');
        const submitBtn = document.getElementById('draft_submit');
        for(let i =0; i < inputs.length; i++){
            if(!inputs[i].value){
                submitBtn.disabled = true;
                return false;
            }
        }
        submitBtn.disabled = false;
    }
    // 플레이어 입력하기 onChange //
    function playerCheck(event){
        const el = event.currentTarget.parentNode.parentNode;
        const team = event.currentTarget.className;
        console.log(document.getElementById(team + '_player_name'))
        if(document.getElementById(team + '_player_name')){
            document.getElementById(team + '_player_name').remove();
            el.classList.remove('player_on');
        }else{
            let html = '<div id="' + team + '_player_name" class="player_wrap ' + team + '">\
                    <div class="container"><label for="' + team + '_player_top">탑</label><input type="text" name="' + team + '_player_top" class="bold draft_player_input" id="' + team + '_player_top"><span class="bar"></span></div>\
                    <div class="container"><label for="' + team + '_player_jg">정글</label><input type="text" name="' + team + '_player_jg" class="bold draft_player_input" id="' + team + '_player_jg"><span class="bar"></span></div>\
                    <div class="container"><label for="' + team + '_player_mid">미드</label><input type="text" name="' + team + '_player_mid" class="bold draft_player_input" id="' + team + '_player_mid"><span class="bar"></span></div>\
                    <div class="container"><label for="' + team + '_player_adc">원딜</label><input type="text" name="' + team + '_player_adc" class="bold draft_player_input" id="' + team + '_player_adc"><span class="bar"></span></div>\
                    <div class="container"><label for="' + team + '_player_sup">서포터</label><input type="text" name="' + team + '_player_sup" class="bold draft_player_input" id="' + team + '_player_sup"><span class="bar"></span></div></div>'
            el.insertAdjacentHTML('afterend', html);
            el.classList.add('player_on');
        }
    }
    </script>
</body>
{% endblock body %}