{% extends "head.html" %}
{% load static %}
{% load champion_tag %}
{% block title %}{{draft.match_name}} | 밴픽 도우미{% endblock title %}
{% block body %}
<body>
    <div id="app">
        <div id="home_logo" class="t_center">
            <img class="block center" src="{% static 'img/home_logo.png' %}">
        </div>
        <div id="timer_wrap" class="t_center bold" :class="[order == 21 ? 'end' : '']">
            <div class="turn blue">
                <p>{{draft.blue_team_name}} TEAM</p><div class="bar"></div>
            </div>
            <div id="timer">[[timer|timerDp]]</div>
            <div class="turn red">
                <p>{{draft.red_team_name}} TEAM</p><div class="bar"></div>
            </div>                    
        </div>
        <div id="room_wrap" class="after" v-show="order != 20" :class="[order == 21 ? 'end' : '']">
            <div id="team_wrap">
                <div class="team blue">
                    <div class="ban">
                        <div class="container od_0">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_2">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_4">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_13">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_15">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                    </div>
                    <div class="pick">
                        <div class="container od_6">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.blue_player_name '0' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_9">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.blue_player_name '1' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_10">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.blue_player_name '2' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_17">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.blue_player_name '3' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_18">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.blue_player_name '4' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="draft_wrap" v-show="order < 20">
                <div id="champion_filter">
                    <input id="cpf-all" type="radio" name="lane" @change="championsRefresh()" value="">
                    <label for="cpf-all">전체</label>
                    <input id="cpf-top" type="radio" name="lane" @change="championsRefresh()" value="탑">
                    <label for="cpf-top">탑</label>
                    <input id="cpf-jg" type="radio" name="lane" @change="championsRefresh()" value="정글">
                    <label for="cpf-jg">정글</label>
                    <input id="cpf-mid" type="radio" name="lane" @change="championsRefresh()" value="미드">
                    <label for="cpf-mid">미드</label>
                    <input id="cpf-adc" type="radio" name="lane" @change="championsRefresh()" value="원딜">
                    <label for="cpf-adc">원딜</label>
                    <input id="cpf-sup" type="radio" name="lane" @change="championsRefresh()" value="서포터">
                    <label for="cpf-sup">서포터</label>
                    <input id="cpf-search" type="text" @keyup="championsRefresh()" name="name">
                    <label for="cpf-search" class="f_right">검 색</label>
                </div>
                <div id="champion_list" class="after bg_black">
                    <div v-for="champion in championsList" class="champion f_left">
                        <i @click="draftSelect(champion.no)" :style="champion.no|cpStyle" class="block sp" :class="champion.no|cpClassName" :disabled="champion.disabled">
                            <div class="sp-name t_center">
                                <p class="inline-block">[[champion.name]]</p>
                            </div>
                        </i>
                    </div>
                </div>
                <div id="champion_select" v-if="draft.team == '{{request.session.team}}'" :class="order|selectClassName" @click="draftChoice()">
                    <p class="t_center">[[order|selectHtml]]</p>
                </div>
            </div>
            <div id="team_wrap">
                <div class="team red">
                    <div class="ban">
                        <div class="container od_1">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_3">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_5">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_12">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_14">
                            <div class="sp"></div>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                    </div>
                    <div class="pick">
                        <div class="container od_7">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.red_player_name '0' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_8">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.red_player_name '1' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_11">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.red_player_name '2' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_16">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.red_player_name '3' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                        <div class="container od_19">
                            <div class="sp"></div>
                            <p class="name">{% player_name draft.red_player_name '4' %}</p>
                            <p class="order"></p>
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="line_wrap" class="{{request.session.team}}" v-show="order == 20">
            <p>라인 선택</p>
            {% if  request.session.team == 'blue'%}
            <div v-show="!laneBlue">
                <div class="{{request.session.team}} lane">
                    <div class="container od_6">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="b0-{{i}}" name="b0" value={{i}} type="radio">
                            <label for="b0-{{i}}" class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.blue_player_name '0' %}</p>
                    </div>
                    <div class="container od_9">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="b1-{{i}}" name="b1" value={{i}} type="radio">
                            <label for="b1-{{i}}" class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.blue_player_name '1' %}</p>
                    </div>
                    <div class="container od_10">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="b2-{{i}}" name="b2" value={{i}} type="radio">
                            <label for="b2-{{i}}"class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.blue_player_name '2' %}</p>
                    </div>
                    <div class="container od_17">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="b3-{{i}}" name="b3" value={{i}} type="radio">
                            <label for="b3-{{i}}"class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.blue_player_name '3' %}</p>
                    </div>
                    <div class="container od_18">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="b4-{{i}}" name="b4" value={{i}} type="radio">
                            <label for="b4-{{i}}" class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.blue_player_name '4' %}</p>
                    </div>
                </div>
                <div @click="laneChoiceDone('blue')" id="lc_done">선택완료</div>
            </div>
            <div v-if="laneBlue" class="lane_wait">상대팀 선택중...</div>
            {% elif request.session.team == 'red' %}
            <div v-show="!laneRed">
                <div class="{{request.session.team}} lane">
                    <div class="container od_7">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="r0-{{i}}" name="r0" value={{i}} type="radio">
                            <label for="r0-{{i}}" class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.red_player_name '0' %}</p>
                    </div>
                    <div class="container od_8">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="r1-{{i}}" name="r1" value={{i}} type="radio">
                            <label for="r1-{{i}}" class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.red_player_name '1' %}</p>
                    </div>
                    <div class="container od_11">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="r2-{{i}}" name="r2" value={{i}} type="radio">
                            <label for="r2-{{i}}"class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.red_player_name '2' %}</p>
                    </div>
                    <div class="container od_16">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="r3-{{i}}" name="r3" value={{i}} type="radio">
                            <label for="r3-{{i}}"class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.red_player_name '3' %}</p>
                    </div>
                    <div class="container od_19">
                        <div class="sp"></div>
                        <div class="laneicon_wrap">
                            {% for i in '01234'|make_list %}
                            <input id="r4-{{i}}" name="r4" value={{i}} type="radio">
                            <label for="r4-{{i}}" class="icon-{{i}}"></label>
                            {% endfor %}
                        </div>
                        <p class="name">{% player_name draft.red_player_name '4' %}</p>
                    </div>
                </div>
                <div @click="laneChoiceDone('red')" id="lc_done">선택완료</div>
            </div>
            <div v-if="laneRed" class="lane_wait">상대팀 선택중...</div>
            {% else %}
            <div id="spectator_wait" class="{{request.session.team}} team">
                라인 조정중...
            </div>
            {% endif  %}
        </div>
        <div id="modal" v-if="!start">
            <div id="start_wrap"{% if request.session.master == draft.id %} @click="draftStart">시작하기{% else %}>대기중 ...{% endif %}</div>
        </div>
    </div>
    <script>
    const roomId = "{{ draft.id|escapejs }}";

    const draftSocket = new WebSocket(
        'ws://' + window.location.host + 
        '/ws/draft/' + roomId + '/');

    const draft = new Vue({
        el:"#app",
        delimiters:['[[',']]'],
        data:{
            timer:0,
            timerF:null,
            start:false,
            laneBlue:false,
            laneRed:false,
            order:0,
            draft:{
                banpick:'',
                temp:'',
                team:''
            },
            championsList:'',
            championsValid:[]
        },
        watch: {
            {% if request.session.master == draft.id %}
            timer:function(newTimer, oldTimer){
                if(this.start && newTimer == 29){
                    const self = this;
                    if([0,1,2,3,4,5,12,13,14,15].includes(self.order)){
                        self.draft.temp = '999'
                    }else{
                        self.draft.temp = randomArray(self.championsValid);
                    }
                    self.draftChoice();
                };
            },
            {% endif %}
            order:function(newOrder, oldOrder){
                const blue = [0, 2, 4, 6, 9, 10, 13, 15, 17, 18];
                if(blue.includes(newOrder)){
                    this.draft.team = 'blue';
                }else{
                    this.draft.team = 'red';
                };
            }
        },
        filters:{
            timerDp(timer){
                return (timer / 28 < 1) ? 27-(timer % 28) : 0;
            },
            selectClassName(order){
                return ([0,1,2,3,4,5,12,13,14,15].includes(order)) ? 'ban' : 'pick';
            },
            selectHtml(order){
                return ([0,1,2,3,4,5,12,13,14,15].includes(order)) ? '금지하기' : '선택하기';
            },
            cpClassName(no){
                return 'sp-' + no;
            },
            cpStyle(no){
                return "backgroundPosition:0px -" + String(Number(no)*82) + "px;";
            }
        },
        created:function(){
            this.draftRefresh();
            this.championsRefresh();
        },
        methods:{
            draftStart(){
                const self = this;
                axios.post('/draft/draft/{{draft.id}}', {no:''}, {xsrfCookieName: 'csrftoken', xsrfHeaderName: 'X-CSRFToken'})
                .then(function(response){
                    draftSocket.send(JSON.stringify({'message': 'championsrefresh|'}));
                    draftSocket.send(JSON.stringify({'message': 'draftrefresh|'}));
                })
            },
            championsRefresh(){
                const self = this;
                const lane = (document.querySelector("input[name='lane']:checked")) ? document.querySelector("input[name='lane']:checked").value : '';
                const name = document.querySelector("input[name='name']") ? document.querySelector("input[name='name']").value : '';
                const draft = '{{draft.id}}';
                axios.get('/draft/champion?lane=' + lane + '&name=' + name + '&draft=' + draft)
                .then(function(response){
                    self.championsList = response.data;
                })
            },
            draftRefresh(){
                const self = this;
                const now = Math.floor(Date.now()/1000)
                axios.get('/draft/draft/{{draft.id}}')
                .then(function(response){
                    if(response.data.blue_done){
                        self.laneBlue = true;
                    }
                    if(response.data.red_done){
                        self.laneRed = true;
                    }
                    if(response.data.timer){
                        {% if request.session.master == draft.id %}self.timer = now - response.data.timer;
                        self.countDownTimer();{% endif %}
                        self.start = true;
                    }
                    self.championsValid = response.data.champions_valid
                    if(response.data.banpick){
                        banpick = response.data.banpick.split('/');
                        self.draft.banpick = banpick;
                        self.order = banpick.length;
                        if(self.laneBlue && self.laneRed){
                            self.order++;
                        }
                        for(let i = 0; i < banpick.length; i++){
                            const el = document.querySelector('#team_wrap .od_' + String(i) + ' .sp');
                            if([6,7,8,9,10,11,16,17,18,19].includes(i)){
                                el.style.backgroundImage = 'url(/assets/img/champion82.png)';
                                el.style.backgroundPosition = '0px -' + String(banpick[i] * 82) + 'px';
                            }else{
                                if(banpick[i] == '999'){
                                    el.style.backgroundImage = 'radial-gradient(black, #555555)'
                                    el.style.backgroundSize = '100% 100%'
                                }else{
                                    if(self.order == 21){
                                        el.style.backgroundImage = 'url(/assets/img/champion82.png)';
                                        el.style.backgroundPosition = '0px -' + String(banpick[i] * 82) + 'px';
                                    }else{
                                        el.style.backgroundImage = 'url(/assets/img/champion82.png)';
                                        el.style.backgroundPosition = '0px -' + String(banpick[i] * 52) + 'px';
                                    }
                                }
                            }
                        };
                    };
                    if(document.querySelector('.team .container.now')){
                        document.querySelector('.team .container.now .order').innerHTML = '';
                        document.querySelector('.team .container.now').classList.remove('now');
                    }
                    if(document.querySelector('.team .container.next')){
                        document.querySelector('.team .container.next .order').innerHTML = '';
                        document.querySelector('.team .container.next').classList.remove('next');
                    }
                    if(self.order < 20){
                        document.querySelector('.od_' + self.order).classList.add('now');
                        document.querySelector('.od_' + self.order + ' .order').innerHTML = '선택중...'
                    }
                    if(self.order < 19){
                        document.querySelector('.od_' + String(self.order+1)).classList.add('next');
                        document.querySelector('.od_' + String(self.order+1) + ' .order').innerHTML = '다음 차례에 선택'
                    }
                    if(self.order >= 20){
                        clearInterval(self.timerF);
                        self.timer = 30;
                        self.laneChoice();
                    }
                    if(self.order == 21){
                        self.draftEnd();
                    }
                })
            },
            draftSelect(no){
                el2 = document.querySelector('.sp-' + String(no));
                if(el2.hasAttribute('disabled')){
                    return false;
                }
                this.draft.temp = String(no);
                el1 = document.querySelector('.sp.selected');
                if(el1){
                    el1.classList.remove('selected')
                }
                el2.classList.add('selected');
                if([6,7,8,9,10,11,16,17,18,19].includes(this.order) && this.draft.team == '{{ request.session.team }}'){
                    draftSocket.send(JSON.stringify({'message': 'championselect|' + this.order + ',' + String(no)}))
                }
            },
            draftChoice(){
                const self = this;
                const order = this.order;
                const no = this.draft.temp;
                if(no){
                    const postData = {no,};
                    axios.post('/draft/draft/{{draft.id}}', postData, {xsrfCookieName: 'csrftoken', xsrfHeaderName: 'X-CSRFToken'})
                    .then(function(response){
                        draftSocket.send(JSON.stringify({'message': 'draftrefresh|'}));
                        el = document.querySelector('.sp-' + no);
                        self.order++;
                        if(document.querySelector("input[name='name']").value){
                            document.querySelector("input[name='name']").value == '';
                        }
                        if(document.querySelector("input[name='lane']:checked")){
                            document.querySelector("input[name='lane']:checked").checked = false;
                        }
                        draftSocket.send(JSON.stringify({'message': 'championsrefresh|'}));
                        self.draft.temp = '';
                    })
                }
            },
            laneChoice(){
                {% if request.session.team == 'none' %}{% else %}
                const el_array = document.querySelectorAll('.lane .container')
                for(let i = 0; i < 5; i++){
                    const order = el_array[i].className.split('_')[1];
                    const pick = this.draft.banpick[order];
                    const el_sp = document.querySelector('.lane .od_' + order + ' .sp');
                    el_sp.style.backgroundImage = 'url(/assets/img/champion82.png)';
                    el_sp.style.backgroundPosition = '0px -' + String(pick * 100) + 'px';
                }
                {% endif %}
            },
            laneChoiceDone(team){
                let postData = new FormData();
                {% if request.session.team == 'blue' %}
                let cnt = 0;
                for(let i = 0; i<5; i++){
                    const temp = document.querySelector("input[name='b" + i + "']:checked")
                    if(temp){
                        postData.append(i,temp.value)
                        cnt++;
                    }else{
                        alert('모든 라인을 선택해주세요.')
                        break
                    }
                }
                {% elif request.session.team == 'red' %}
                let cnt = 0;
                for(let i = 0; i<5; i++){
                    const temp = document.querySelector("input[name='r" + i + "']:checked")
                    if(temp){
                        postData.append(i,temp.value)
                        cnt++;
                    }else{
                        alert('모든 라인을 선택해주세요.')
                        break
                    }
                }
                {% endif %}
                postData.append('team',team)
                if(cnt==5){
                    axios.post('/draft/lane/{{draft.id}}', postData, {xsrfCookieName: 'csrftoken', xsrfHeaderName: 'X-CSRFToken'})
                    .then(function(response){
                        if(response.data == 'error'){
                            alert('중복되는 라인이 있습니다.')
                            return false
                        }else{
                            draftSocket.send(JSON.stringify({'message': 'draftrefresh|'}));
                        }
                    })
                }
            },
            draftEnd(){
            },
            countDown(){
                timer = this.timer + 1
                draftSocket.send(JSON.stringify({
                    'message':'timer|'+ String(timer)
                }))
            },
            countDownTimer(){
                if(this.timerF){
                    return false;
                }else{
                    this.timerF = setInterval(this.countDown, 1000)
                }
            },
        }
    })

    draftSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data['message'].split('|');
        const msgType = message[0];
        const msgData = message[1]
        if(msgType=='timer'){
            draft.timer = Number(msgData);
        }
        if(msgType=='draftrefresh'){
            draft.draftRefresh();
        }
        if(msgType=='championsrefresh'){
            draft.championsRefresh();
        }
        if(msgType=='championselect'){
            const order = msgData.split(',')[0]
            const no = msgData.split(',')[1]
            document.querySelector('.od_' + order + ' .sp').style.backgroundImage = 'url(/assets/img/champion82.png)';
            document.querySelector('.od_' + order + ' .sp').style.backgroundPosition = '0px -' + String(Number(no) * 82) + 'px';
        }
    };
    </script>
</body>
{% endblock body %}